@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@font-face {
  font-family: "Menco_Black";
  src: url("../fonts/fonnts.com-Menco_Black.otf") format("truetype");
}

body {
  margin: 0;
  height: fit-content;
  background-color: #597cff;
  color: #f0f3ff;
  font-family: Menco_Black;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

header,
.nav {
  background-color: #97d9f3;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.nav {
  height: 80px;
  width: 100%;
  font-size: 30px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #15f5ba;
  padding: 20px 0;
  position: relative;
}

.nav img {
  width: 400px;
}

header {
  margin: 58px auto 25px;
  width: fit-content;
  border-radius: 30px;
  overflow: hidden;
}

.game-img {
  height: 500px;
  width: 1200px;
  background-image: url("../imgs/billthebear.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 40px;
}

.game-about {
  height: 75%;
  width: 28%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 30px;
}

.game-about h3 {
  font-size: 45px;
  color: #ffd200;
  padding-left: 20px;
  font-weight: 800;
  text-shadow: -0px -0px 0 #597cff, 0px 0px 0 #597cff, -0px 0px 0 #597cff,
    3px 3px 0 #597cff;
  font-family: "Oswald", sans-serif;
  margin: 25px 0;
}

.game-about p {
  color: #293975;
  padding-left: 20px;
  margin-bottom: 60px;
  font-size: 18px;
}

.game-about a {
  background-color: #ffd200;
  color: #597cff;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 900;
  margin-left: 20px;
  box-shadow: rgba(89, 124, 255, 1) 7px 7px;
  font-size: 20px;
}

.game-about a:hover {
  background-color: #597cff;
  color: #ffd200;
  box-shadow: #ffd200 7px 7px;
}

.game-info {
  height: 100%;
  width: 35%;
  padding: 0 40px;
}

.game-info h3 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  font-weight: 800;
  height: 20%;
  margin: 0;
  display: flex;
  align-items: center;
  text-shadow: -0px -0px 0 #597cff, 0px 0px 0 #597cff, -0px 0px 0 #597cff,
    3px 3px 0 #597cff;
}

.game-info p {
  color: #293975;
  font-size: 24px;
  height: 40%;
  margin: 40px 0;
}

.links {
  height: fit-content;
  height: 20%;
  display: flex;
  align-items: center;
}

.links a {
  color: #ffd200;
  font-size: 30px;
  margin-right: 20px;
}

.links a:hover {
  color: #597cff;
}

.comming-games {
  width: 1240px;
  margin: auto;
  height: 280px;
}

h2 {
  font-size: 40px;
  height: 10%;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.games {
  display: flex;
  justify-content: start;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 90%;
  margin-top: 20px;
}

.game {
  width: 20%;
  height: 60%;
  margin: 0 10px;
  background-color: #4261d1;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: #ffd200;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: 4px solid transparent;
}

#forest-dash {
  background-image: url("../imgs/billthebear.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new {
  position: absolute;
  width: 60px;
  height: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #15f5ba;
  color: #211951;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
  top: 20px;
  left: 0;
}

.game:hover {
  outline: 4px solid #ffd200;
}

#myVideo {
  display: none;
}

.back-button {
  align-items: center;
  background-color: #ffd200;
  box-shadow: rgba(89, 124, 255, 1) 7px 7px;
  cursor: pointer;
  color: #597cff;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-size: 28px;
  transform: rotate(-5deg);
  display: flex;
  justify-content: center;
  padding: 10px;
  height: fit-content;
  text-decoration: none;
  position: absolute;

  left: 120px;
}

@media only screen and (max-width: 1600px) {
  .game-info {
    padding: 20px 40px;
  }

  .game-info h3 {
    margin-bottom: 20px;
  }

  .game-info p {
    height: 50%;
  }

  .game-about {
    height: 70%;
    width: 32%;
  }

  .game-img {
    padding-right: 20px;
  }

  .game-about p {
    margin-bottom: 40px;
  }

  .comming-games {
    width: 93%;
  }

  .game {
    width: 20%;
    height: 60%;
    margin: 0 0.5%;
  }
}

@media only screen and (max-width: 1300px) {
  .game-info {
    padding: 20px 30px;
  }

  .game-about {
    height: 65%;
    width: 30%;
    margin-right: 40px;
  }

  .game-img {
    padding-right: 20px;
  }

  .game-about h3 {
    font-size: 32px;
    margin: 10px 0;
  }

  .game-about p {
    margin-bottom: 30px;
    font-size: 17px;
  }

  .comming-games {
    width: 93%;
  }

  .game {
    width: 30%;
    height: 60%;
    margin: 0 2%;
  }

  #comming-soon-3,
  #comming-soon-4 {
    display: none;
  }

  header {
    width: 90%;
  }

  .game-img {
    width: 100%;
  }

  .back-button {
    left: 60px;
  }
}

@media only screen and (max-width: 1000px) {
  header {
    width: 95%;
  }

  .game-about {
    height: 80%;
    width: 30%;
  }

  .game {
    width: 34%;
    height: 50%;
    margin: 0 2%;
  }

  .back-button {
    left: 20px;
    font-size: 20px;
  }

  .nav {
    height: 80px;
    padding: 0 0;
  }
  .nav img {
    width: 300px;
  }
}

@media only screen and (max-width: 700px) {
  header {
    margin-top: 60px;
    width: 95%;
  }

  .game-about {
    height: 80%;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.7);
    backdrop-filter: blur(5.5px);
  }

  .game-info {
    padding: 40px 20px;
  }

  .game-info h3 {
    font-size: 30px;
  }

  .game-info p {
    font-size: 16px;
  }

  .back-button {
    font-size: 40px;
    height: 20px;
    width: 20px;
  }
  .nav img {
    width: 260px;
  }
  .back-button span {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: fit-content;
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  .game-img {
    height: 400px;
    width: 100%;
  }

  .game-about {
    height: fit-content;
    width: 90%;
    padding: 30px 10px 40px;
  }

  .game-about p {
    padding-left: 0px;
  }

  .game-info {
    height: fit-content;
    width: 100%;
    padding: 40px 30px;
  }

  .game-info h3 {
    height: fit-content;
    width: 100%;
    margin: 0;
  }

  .game-info p {
    color: #836fff;
    font-size: 18px;
    height: fit-content;
    width: 80%;
    margin: 30px 0;
  }

  .links {
    height: fit-content;
  }

  /* #comming-soon-2 {
    display: none;
  } */

  .games {
    flex-direction: column;
    margin-top: 40px;
    height: fit-content;
  }

  .game {
    width: 85%;
    height: 200px;
    margin: 15px 2%;
  }

  body {
    height: fit-content;
  }
}

@media only screen and (max-width: 450px) {
  /* .game {
    width: 100%;
    height: 80%;
    margin: 0;
  } */

  #comming-soon-1 {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .nav img {
    width: 200px;
  }
}
